name: Run Tests

on:
  pull_request:
    branches: [ main ]
    paths:
      - '**.go'
      - 'go.sum'
      - 'go.mod'
      - '.github/workflows/*.yml'
  push:
    branches: [ main ]
    paths:
      - '**.go'
      - 'go.sum'
      - 'go.mod'
      - '.github/workflows/*.yml'

jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest" ]
        go: [ "1.24.x"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
          fetch-depth: 1
    - uses: WillAbides/setup-go-faster@v1.14.0
      with:
        go-version: ${{ matrix.go }}
    - run: go test ./...
    - run: go vet -v ./...
    - uses: dominikh/staticcheck-action@v1
      with:
        version: "latest"
        install-go: false
        cache-key: ${{ matrix.go }}