name: Run Tests

on:
  pull_request:
    branches: [ main ]
    paths:
      - '**.go'
      - 'go.sum'
      - 'go.mod'
      - '.github/workflows/*.yml'
      - '.mise.toml'
  push:
    branches: [ main ]
    paths:
      - '**.go'
      - 'go.sum'
      - 'go.mod'
      - '.github/workflows/*.yml'
      - '.mise.toml'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - uses: jdx/mise-action@v2
      with:
        experimental: true

    - name: Run checks
      run: mise run check
